This page has an mjpeg embedded in it:
<br/>
<img src=count.mjpeg>
<br/>
Click here to <a href=count.mjpeg>view the image by itself</a>.

<p><b>Update:</b> This page was created to demo a bug in Chrome 20/21 where an mpjeg stream viewed directly did not animate (<a href=http://crbug.com/135337>chrome bug 135337</a>). The issue has been fixed in versions >= 22. I'll leave this page up for anyone else trying to test mjpeg functionality.</p>


<p>Souce code for this mjpeg server can be found at <a href="https://github.com/psanford/mjpeg-demo-server">https://github.com/psanford/mjpeg-demo-server</a>.</p>

<p>A node version of this server can be found at <a href="https://github.com/psanford/node-mjpeg-test-server">https://github.com/psanford/node-mjpeg-test-server</a>. I ported it to go when I moved off of heroku.</p>
